<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="webedit:editplaceholdersettings" >
				<patch:attribute name ="type" value="Sitecore.Support.Shell.Applications.WebEdit.Commands.EditPlaceholderSettings, Sitecore.Support.96322" />
			</command>
		</commands>
	</sitecore>
</configuration>
  